{% extends 'layouts/base.html' %}

{% block content %}
<style>
    /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
</style>
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Properties listed
                <div class="sub header">
                    All properties currently listed.
                </div>
            </h2>

            <div class="ui">
                <form method="post" onsubmit="show_loading();" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <!-- upload of a single file -->
                    <p>
                        <label>Select file: </label><br/>
                        <input type="file" name="uploadedfile"/>
                    </p>

                    <p>
                        <input type="submit"/>
                    </p>
                </form>
            </div>

            <div class="ui menu">
                <div class="ui right search item">
                    <div class="ui transparent icon input">
                        <input id="search-users" type="text" placeholder="Search users…">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
            <div>
                Listed: {{total_deparments}} Located : {{departments_with_location}}
            </div>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th class="sorted ascending">ID</th>
                            <th>Edit</th>
                            <th>Недвижимость</th>
                            <th>Loc</th>
                            <th>Срок до</th>
                            <th>ЦенаН</th>
                            <th>+</th>
                            <th>ЦенаК</th>
                            <th>Рынок</th>
                            <th>Прибыль</th>
                            <th>%</th>
                            <th>Comment</th>
                            <th>lng</th>
                            <th>lat</th>


                        </tr>
                    </thead>
                    <tbody>
                    {% for f in flats | sort(attribute='id') %}
                        <tr >
                            <td>{{ f.id }}</td>
                            <td>
                                <button onclick="show_modal({{ f.id }})">Edit</button>
                            </td>
                            <td>{{ f.address }}</td>
                            <td><input type="checkbox" {% if f.loc %} checked {% endif %}>
                            </td>
                            <td>{{ f.Valid_date }}</td>
                            <td>{{ f.priceN }}</td>
                            <td>{{ f.plus }}</td>
                            <td>{{ f.price_k }}</td>
                            <td>{{ f.market }}</td>
                            <td>{{ f.profit }}</td>
                            <td>{{ f.percent }}</td>
                            <td>{{ f.comment }}</td>
                            <td>{{ f.lng }}</td>
                            <td>{{ f.lat }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- The Modal -->
    <div id="editModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <form method="post" enctype="multipart/form-data" action="/admin/updatelocation">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div style="width: 50%;    float: left;">
                <label for="lng" >LNG:</label>
                <input onchange="update_modal_map_manualy();" onkeypress="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();" type="text" id="lng" name="lng" value="" >
                <label for="lat" >LAT:</label>
                <input type="text" id="lat" name="lat" value="" ><br>
                <label for="newAddress">Find:</label>
                <input type="text" style="width: 70%;" id="newAddress" name="newAddress" value="">
                <button onclick="geocodeAddress()" type="button" >Find</button><br>
                <div id="modal_map" style="width:400px; height:300px"></div>
                <input type="hidden" id="newLng" name="newLng" value="">
                <input type="hidden" id="newLat" name="newLat" value="">
                <input type="hidden" id="id" name="id" value="">
            </div>

            <div style="display: flow-root;">
                <label >Property ID:   </label>
                <label id="editID">100</label><br><br>
                <label >Address:</label><br>
                <textarea style="width: 80%;" id="Address"  name="Address" rows="4" ></textarea><br><br>
                <label for="priceN" >PriceN:</label>
                <input type="text" id="priceN" name="priceN" value=""><br><br>
                <label for="plus" >Plus:</label>
                <input type="text" id="plus" name="plus" value=""><br><br>
                <label for="priceK" >PriceK:</label>
                <input type="text" id="priceK" name="priceK" value=""><br><br>
                <label for="market" >Market:</label>
                <input type="text" id="market" name="market" value=""><br><br>
                <label for="profit" >Profit:</label>
                <input type="text" id="profit" name="profit" value=""><br><br>
                <label for="profitpercent" >Profit %:</label>
                <input type="text" id="profitpercent" name="profitpercent" value=""><br><br>
                <label for="comment" >Comment:</label><br>
                <input type="text" style="width: 80%;" id="comment" name="comment" value=""><br><br>

            </div>

            <br><br>

            <input type="submit" value="Save">
        </form>
      </div>

    </div>
    <div id="loadingModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span> Loading</span>
      </div>

    </div>

<script src="{{url_for('static', filename='flats.js')}}"></script>

<script>
var flats_json={{flats_json|safe}}
</script>

{% endblock %}