{% extends 'layouts/base.html' %}

{% block content %}
<style>
    /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
</style>
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Properties listed
                <div class="sub header">
                    All properties currently listed.
                </div>
            </h2>

            <div class="ui">
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <!-- upload of a single file -->
                    <p>
                        <label>Select file: </label><br/>
                        <input type="file" name="uploadedfile"/>
                    </p>

                    <p>
                        <input type="submit"/>
                    </p>
                </form>
            </div>

            <div class="ui menu">
                <div class="ui right search item">
                    <div class="ui transparent icon input">
                        <input id="search-users" type="text" placeholder="Search users…">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th class="sorted ascending">ID</th>
                            <th>Недвижимость</th>
                            <th>Loc</th>
                            <th>Срок до</th>
                            <th>ЦенаН</th>
                            <th>+</th>
                            <th>ЦенаК</th>
                            <th>Рынок</th>
                            <th>Прибыль</th>
                            <th>%</th>
                            <th>Comment</th>
                            <th>lng</th>
                            <th>lat</th>


                        </tr>
                    </thead>
                    <tbody>
                    {% for f in flats | sort(attribute='id') %}
                        <tr >
                            <td>{{ f.id }}</td>
                            <td>{{ f.address }}</td>
                            <td><input type="checkbox" {% if f.loc %} checked {% endif %}>
                            <!-- Trigger/Open The Modal -->
                                 {% if not f.loc %} <button onclick="show_modal({{ f.id }})">Fix</button> {% endif %}

                            </td>
                            <td>{{ f.Valid_date }}</td>
                            <td>{{ f.priceN }}</td>
                            <td>{{ f.plus }}</td>
                            <td>{{ f.price_k }}</td>
                            <td>{{ f.market }}</td>
                            <td>{{ f.profit }}</td>
                            <td>{{ f.percent }}</td>
                            <td>{{ f.comment }}</td>
                            <td>{{ f.lng }}</td>
                            <td>{{ f.lat }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <form method="post" enctype="multipart/form-data" action="/admin/updatelocation">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label >Property ID:</label>
            <label id="editID">100</label><br>
            <label >Current:</label><br>
            <label id="currentAddress">100</label><br>
            <label for="newAddress">Find:</label><br>
            <input type="text" id="newAddress" name="newAddress" value="">
            <input type="hidden" id="newLng" name="newLng" value="">
            <input type="hidden" id="newLat" name="newLat" value="">
            <input type="hidden" id="id" name="id" value="">

            <button onclick="geocodeAddress()" type="button" >Validate</button>
            <div id="modal_map" style="width:400px; height:300px"></div>

            <br><br>

            <input type="submit" value="Submit">
        </form>
      </div>

    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-users').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });

            $('#select-role').dropdown({
                onChange: function (value, text, $selectedItem) {
                    $('td.user.role:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                    $('td.user.role').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
                }
            });
        });
    </script>
    <script>
var flats_json={{flats_json|safe}}
function show_modal(id) {
  modal.style.display = "block";
  editedId=id;
  document.getElementById('editID').innerHTML = editedId;
  document.getElementById('id').value = editedId;
  document.getElementById('currentAddress').innerHTML = flats_json[id-1].address;
}
function geocodeAddress() {
var lng
var lat
  const address = document.getElementById("newAddress").value;
  if (!address || address.length < 3) {
    console.log("The address string is too short. Enter at least three symbols");
    return;
  }

$.ajax({
  method: "GET",
  url: "/admin/getposition/"+encodeURIComponent(address),
})
.done(function( msg ) {
    lat=msg.split(' ')[0];
    lng=msg.split(' ')[1];
    document.getElementById('newLng').value = lng;
    document.getElementById('newLat').value = lat;

            if (document.getElementById('modal_map').innerHTML!=''){
                modal_map.destroy();
            }

            modal_map = new ymaps.Map("modal_map", {
            center: [lat, lng],
            zoom: 17
        });
        myPlacemark = new ymaps.Placemark([lat,lng]);
        modal_map.geoObjects.add(myPlacemark);
});



}




function check_location(id) {

}
    // Get the modal
var modal = document.getElementById("myModal");
var editedId;
var editedAddress;

<!--// Get the button that opens the modal-->
<!--var btn = document.getElementById("myBtn");-->

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

<!--// When the user clicks on the button, open the modal-->
<!--btn.onclick = function() {-->
<!--  modal.style.display = "block";-->
<!--}-->

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
  document.getElementById("newAddress").value='';
  if (document.getElementById('modal_map').innerHTML!=''){
    modal_map.destroy();
}

}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
    document.getElementById("newAddress").value='';
    if (document.getElementById('modal_map').innerHTML!=''){
    modal_map.destroy();
}
  }
}
</script>
{% endblock %}